@charset "UTF-8";
/* CSS Document */



.comenu{width:240px; height:100%;left:0px; position:fixed;  background:url(imagenes/fondoci.png) right repeat;}

.menu{width:200px;height:; margin-top:30px; top:0px; margin-left:40px; position:fixed;}
.logo{width:160px; height:165px; float:left;}
.espacio{width:160px; height:4px; float:left; margin-top:20px; margin-bottom:5px; background:#FFF;}
.espacio2{width:160px; height:4px; float:left; margin-top:5px; margin-bottom:5px; background:#FFF;}
.btn1{width:160px; height:25px; float:left; font-family: 'OswaldRegular'; color:#FFF; font-size:20px; line-height:25px; font-weight:lighter;}
.btn1:hover{width:160px; height:25px; float:left; font-family: 'OswaldRegular'; color: #CCC; font-size:20px; line-height:25px; font-weight:lighter;}
.btn2{width:180px; height:50px; float:left; font-family: 'OswaldRegular'; color:#FFF; font-size:20px; line-height:25px; font-weight:lighter;}
.btn2:hover{width:180px; height:50px; float:left; font-family: 'OswaldRegular'; color: #CCC; font-size:20px; line-height:25px; font-weight:lighter;}
.redes{width:160px; height:; float:left; margin-bottom:10px;}
.face{width:70px; height:14px; float: right; background:url(imagenes/face.png); margin-right:1.5px;}
.face:hover{width:70px; height:14px; float: right; background:url(imagenes/faceh.png); margin-right:1.5px;}
.diagonal{width:4px; height:14px; float:left; margin-left:5px; margin-right:5px; background:url(imagenes/diagonal.png) no-repeat;}
.twitter{width:70px; height:14px; float:left; background:url(imagenes/twitter.png) no-repeat; margin-left:1.5px;}
.twitter:hover{width:70px; height:14px; float:left; background: url(imagenes/twitterh.png) no-repeat; margin-left:1.5px;}



.direccion{ width:169px; height:; bottom:0px; margin-bottom:30px; margin-left:40px; position:fixed; font-family: 'OswaldRegular'; color:#FFF;}
.espacio3{width:169px; height:4px; float:left;  background:#FFF;}
.espacio4{width:169px; height:4px; float:left; margin-top:5px; background:#FFF;}

.cdmenu{ width:70px; height:100%; right:0px; position:fixed; background:url(imagenes/fondocd.png);}
.boletin{width:54px;height:200px; margin-top:30px; top:0px; margin-left:8px; position:fixed; background:url(imagenes/boletin.png);}
.boletin:hover{width:54px;height:200px; margin-top:30px; top:0px; margin-left:8px; position:fixed; background:url(imagenes/boletinh.png);}
.idioma{width:54px;height:118px; margin-bottom:30px; bottom:0px; margin-left:8px; position:fixed; background:url(imagenes/english.png);}
.idioma:hover{width:54px;height:118px; margin-bottom:30px; bottom:0px; margin-left:8px; position:fixed; background:url(imagenes/englishh.png);}
.boletinen{width:54px;height:200px; margin-top:30px; top:0px; margin-left:8px; position:fixed; background:url(imagenes/boletinen.png);}
.boletinen:hover{width:54px;height:200px; margin-top:30px; top:0px; margin-left:8px; position:fixed; background:url(imagenes/boletinenh.png);}
.idiomaen {width:54px;height:118px; margin-bottom:30px; bottom:0px; margin-left:8px; position:fixed; background:url(imagenes/englishen.png);}
.idiomaen:hover {width:54px;height:118px; margin-bottom:30px; bottom:0px; margin-left:8px; position:fixed; background:url(imagenes/englishenh.png);}

.info{width:475px; height:490px; left:50%; margin-left:-237.5px;  top:50%; margin-top:-245px; background:#FFF; position: absolute;margin-bottom:20%;}
.inf{width:475px; height:; left:50%; margin-left:-237.5px;  top:50%; margin-top:-245px; background:#FFF; position: absolute; margin-bottom:20%;}
.inf2{width:475px; height:600px; left:50%; margin-left:-237.5px;  top:50%; margin-top:-300px; background:#FFF; position: absolute; margin-bottom:10%;}
.titulo{width:417px; height:38px; margin:25px 29px 0px 29px; float:left; border-bottom:#000 solid 2px; font-family: 'OswaldRegular'; font-size:24px;}
.titulo2{width:417px; height:38px; margin:25px 29px 0px 29px; float:left; border-bottom:#000 solid 2px; }
.titulo3{width:417px; height:65px; margin:0px 0px 20px 0px; float:left; border-bottom:#000 solid 2px; font-family: 'OswaldRegular';}
.titulo5{width:417px; height:; margin:0px 0px 20px 0px; float:left; border-bottom:#000 solid 2px;}
.titulo6{width:417px; height:; margin:25px 29px 0px 29px; float:left; border-bottom:#000 solid 2px; font-family: 'OswaldRegular'; font-size:24px;}
.titulo4{width:417px; height:40px; margin:0px 0px 20px 0px; float:left; border-bottom:#000 solid 2px; font-family: 'OswaldRegular';}
.infoconte{width:417px; height:370px; float:left; margin-top: 35px; margin-right: 29px; margin-bottom: 0px; margin-left: 29px;}
.infocont{width:417px; height:; float:left; margin-top: 35px; margin-right: 29px; margin-bottom: 30px; margin-left: 29px;}
.infocon{width:417px; height:; float:left; margin-top: 5px; margin-right: 29px; margin-bottom: 30px; margin-left: 29px;}
#flotante{width:417px; height:; float:left; margin-top: 35px; margin-right: 29px; margin-bottom: 35px; margin-left: 29px;}
#flotante2{width:417px; height:; float:left; margin-top: 5px; margin-right: 29px; margin-bottom: 35px; margin-left: 29px;}
#flotante3{width:417px; height:; float:left; margin-top: 20px; margin-right: 29px; margin-bottom: 35px; margin-left: 29px;}
#flotante4{width:417px; height:; float:left; margin-top: 20px; margin-right: 29px; margin-bottom: 35px; margin-left: 29px;}
.imagene{ width:245px; height:360px; float:left;}
.mapa{ width:417px; height:360px; float:left;}
.mapa2{ width:417px; height:; float:left;}
.textos{width:142px; height:360px; float:left; margin-left:15px; font-family:'Arial', Helvetica, sans-serif; font-size:12px; color:#000; text-align:left; }
.textou{width:142px; height:; float:left; margin-left:15px; margin-bottom:10px; font-family:'Arial', Helvetica, sans-serif; font-size:11px; color:#000; text-align:left; }
#texto{font-size:15px; float:left; margin-left:; color:#797979; font-family: 'OswaldRegular';}
#texto:hover{font-size:15px; float:left; margin-left:; color:#000; font-family: 'OswaldRegular';}
#textuo{font-size:15px; float:left; margin-left:; color:#000; font-family: 'OswaldRegular';}
#textu{font-size:15px; float:left; margin-left:40px; color:#797979; font-family: 'OswaldRegular';} 
#textu:hover{font-size:15px; float:left; margin-left:40px; color:#000; font-family: 'OswaldRegular';}
#textus{font-size:15px; float:left; margin-left:40px; color:#000; font-family: 'OswaldRegular';}
.textoubica{padding:; width:417px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px;}

.legales{ width:; height:25px; bottom:0px; right:0px; margin-right:90px; color:#FFF; font-size:12px; text-align:center; line-height:25px; position:fixed; font-family:Arial, Helvetica, sans-serif;}

ul.ppt {
  overflow: hidden;
  position: relative;
  width: 245px; /*AquÃ­ puedes editar*/
  height: 360px;
  float:left;
}

.ppt li {
list-style-type: none;
position: absolute;
top: 0;
left: 0;
}

.ppt img {
}

.colu1pre{width:203.5px; float:left; font-size:11px; padding-bottom:15px;}
 .colu2pre{width:203.5px; float: right; font-size:11px; padding-bottom:15px;}
